<div class="nav-bar">
    <div class="title">INTERN</div>
    <a href="">Home</a>
    <div class="packet">Packet</div>
    <ul class="side-nav">
        <li><a routerLink="/admin/products">Product</a></li>
    </ul>
    <div class="materials">Materials</div>
    <div class="deliveryoptions">Delivery Options</div>
    <div class="malingcarriers">Mailing Carriers</div>
    <select class="select" name="admin"> 
        <option value="admin">Admin</option>
        <option value="useradmin">User Admin</option>
        <option value="customadmin">Custom Admin</option>
    </select>    
    <ul class="top-nav">
        <li>
            <a href="">Logout</a>
        </li>
    </ul>
</div>

